{% extends 'genericos/base.html' %}

{% block title_head %}
<title>BUSCAR PROYECTO</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Buscar Proyecto</h1>
{% endblock h1_header %}

{% block contenido %}
{% if formulario.errors %}

<p>Los datos ingresados son incorrectos.</p>

{% endif %}
    <form action={% url 'app_proyectos:buscar-proyecto' %} method="GET">
        <table>
            {{formulario}}
        </table>
        <button>Buscar</button>
    </form>    

{% if proyectos %}
    {% for proyecto in proyectos %}
    <li>
        Titulo: {{proyecto.titulo}} - Tipologia: {{proyecto.tipologia}}
    </li>
    {% endfor %}
{% endif %}
    
{% endblock contenido %}